*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

/*-----------------------------------------*/
/*----Header----*/
a {
    text-decoration: none;
}
.nav-bar {
    display: grid;
    grid-template-columns: 15% 50%;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}
.menu-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-navbar a{
    text-align: center;
    color: white;
}
.submenu {
    display: none;
    position: absolute;
    width: 10rem;
    top: 150%;
    background: white;
    padding: 1rem;
    border-radius: 10px;
}
.menu-item {
    position: relative;
}
.menu-item::after {
    content: " ";
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    cursor: pointer;
    opacity: 0;
}
.submenu:hover {
    display: block;
    cursor: pointer;
}
.menu-item:hover .submenu {
    display: block;
}
.menu-item:hover .header-item{
    color: red;
}
.submenu a{
    display: block;
    color: black;
    text-align: left;
}
.submenu a:hover {
    color: red;
    background-color: #bd212156;
    border-radius: 5px;
}

.buynow{
    color:aliceblue;
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: 0.5s linear;
}

.buynow:hover {
    color:#ffffff;
    border: 3px solid #f72455;
    background-color: #f72455;
    margin-top: -5px;
}

header{
    background-image: linear-gradient(rgba(16, 13, 26, 0.5),rgba(17, 17, 19, 0.5)), url("../img/background.jpg");
    background-size: cover;
    background-position: 50%;
    height: 130vh;
}

.logo{
    width: 100%;
}

.row{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    background: -webkit-linear-gradient(-60deg, #dd0000, #ff00ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 1250px;
    margin: 0 auto;
    padding: 5rem 0rem;
}
/*-----------------------------------------*/
/*-------------------Body1-----------------*/
.header-icon{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: -2rem 3rem;
}
.header-icon h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: white;
    margin: 1rem 0rem;
}
.header-icon h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: gray;
    margin-right: 2.3rem;
    font-weight: 250;
}
.img-about{
    position: relative;
    margin-top: -50px;
}
.img-about img{
    border-radius: 8px;
}

.body1{
    display: grid;
    grid-template-columns: 33% 67%;
    margin: -2rem 3rem;
}
.about h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    color: black;
    margin: 8rem 7rem;
}
.about h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: gray;
    font-weight: 100;
    margin: -7rem 7rem;
    
}

.body{
    display: grid;
    grid-template-columns: 60% 60%;
    justify-content: space-between;
    margin: 10rem 7rem;
}
.body h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    font-weight: 570;
}
.body h4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: gray;
    font-weight: 100;
    margin-top: 1rem;
    margin-right: 1rem;
}
/*-------------body2---------------------*/
.body2{
    background-image: url("../img/bg-image-3.jpg");
    background-size: cover;
    background-position: alls;
    height: 110vh;

    display: grid;
    grid-template-columns: 35% 33% 32%;
    margin: 7rem 0rem;
}
.sevices {
    padding: 3rem;
}
.sevices h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    color: black;
    margin-bottom: 2rem;
    font-weight: 800;
}
.body2 h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: gray;
    font-weight: 100;
    margin-bottom: 2rem;
}
.rq{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    font-weight: 100;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.icon h3:hover{
    color: #eb2789;
    cursor: pointer;
}
.rq h3::after {
    text-decoration: underline;
    content: "";
    width: 30%;
    background-color: #eb2789;
    position: absolute;
    top: 130%;
    left: 0;
    cursor: pointer;
    height: 3px;
    transition: 0.2s linear;
}
.rq:hover h3::after{
    width: 100%;
    transition: 0.2s linear;
}

.icon div{
    font-size: 2.8rem;
    margin: 2rem 1rem;
    color: red;
    border-radius: 20px;
}
.icon svg{
    margin: 2rem 1rem;
}
.icon h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
    margin: -1rem 1rem;
    
}
.icon h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;
    color: gray;
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 2rem 0rem;
}
.iconn:hover {
    color:#ffffff;
    border: 0px solid #f72455;
    background: -webkit-linear-gradient(0deg, #dd0000, #f62f7b 80%);
    transition: 0.3s linear;
}
.iconn:hover h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: white;
}
.iconn:hover h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
}
/*---------------------body3--------------------*/
.our-works h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: black;
    margin: 0rem 3rem;
    font-weight: 800;
}
.our-works h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(56, 47, 47);
    margin: 1rem 3rem;
    font-weight: 300;
}
.list-img{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    padding: 0 2rem;
}
.image {
    position: relative;
    transition: 0.2s linear;
    margin-bottom: 4rem;
}
.image img{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.2s linear;
}
.image::after{
    content: "";
    display: inline;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    background: linear-gradient(rgba(250, 0, 0, 0.7),rgba(75, 7, 59, 0.7 ));
    border-radius: 7px;
    transition: 0.2s linear;
    z-index: -1;
}
.image:hover img{
    transform: scale(1.05);
}
.image:hover::after{
    transform: scale(1.05);
    z-index: 1;
}
/*-----------------------------body4---------------------*/
.body4{
    padding-bottom: 5rem;
}
.title4{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding: 1rem 0rem;
}
.numerist {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.num h5{
    font-size: 70px;
    color: rgb(249, 5, 74);
    padding: 1rem 0rem;
}
.num h5::after{
    content: "+";
    font-size: 40px;
    position: absolute;
}
.num h3{
    font-size: 20px;
    font-weight: 300;
    color: rgb(53, 45, 45);
    padding: 0rem 2.5rem;
}
/*--------------------body5----------------------*/
.body5{
    background-color: #e3e3ef;
    position: relative;
    padding-bottom: 2rem;
}
.quotes{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    padding: 3rem 0;
}
.quote-left, .quote-right {
    width: 12%;
    margin: 0rem 5rem;
}
.quote-left {
    margin-bottom: 10%;
}
.quote-right {
    margin-top: 10%;
}
.info {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 30%;
    text-align: center;
    margin: 0rem 12rem;
}
.name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
    color: gray;
    position: absolute;
    top: 60%;
    left: 33%;
}
.img-people{
    text-align: center;
}
.img-people img{
    padding: 0.5rem 0.7rem;
}
.img-ln1{
    margin-top: 4rem;
}

.i-p:hover{
    scale: 1.1;
    cursor: pointer;
}
/*--------------------------body6---------------------*/
.title6{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4rem 3rem;
}
.title6 h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: black;
    font-weight: 800;
    padding-bottom: 1rem;
}
.title6 h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    color: gray;
    font-weight: 300;
}
.view-all{
    position: absolute;
    bottom: 30%;
    right: 7%;
}
.view-all h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    font-weight: 300;
    cursor: pointer;
}
.view-all h3::after {
    text-decoration: underline;
    content: "";
    width: 30%;
    background-color: #eb2789;
    position: absolute;
    top: 130%;
    left: 0;
    height: 3px;
    transition: 0.2s linear;
}
.view-all:hover h3::after{
    width: 100%;
    transition: 0.2s linear;
}
.view-all:hover h3{
    color: #eb2789;
}

.img6 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.image6{
    position: relative;
    transition: 0.2s linear;
    padding: 0 3rem;
}
.image6::after{
    content: "";
    display: inline;
    width: 96%;
    height: 99%;
    position: absolute;
    top: 0%; 
    left: 15%;
    background: linear-gradient(rgba(250, 0, 0, 0.7),rgba(75, 7, 59, 0.7 ));
    border-radius: 7px;
    transition: 0.2s linear;
    z-index: -1;
}
.image6:hover{
    transform: scale(1.05);
}
.image6:hover::after{
    z-index: 0;
}
/*------------------------body7------------------------*/
.body7{
    text-align: center;
    padding: 3rem 4rem;
}
.brand-1{
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12%;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
    position: relative;
}
.brand-1 img{
    width: 100%;
}
.body7 .brand-2{
    text-align: center;
    padding: 3rem 6rem;
}
.brand-2{
    display: grid;
    grid-template-columns: 15.5% 15.5% 15.5% 15.5%;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.brand-2 img{
    width: 100%;
}
.brand{
    position: relative;
    transition: 0.2s linear;
}
.brand::after{
    content: "   ";
    display: inline;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%; 
    left: 0%;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.2s linear;
}
.brand:hover:after{
    z-index: -1;
}
.brand:hover{
    scale: 1.1;
}
/*-----------------------------------body8---------------------*/
.body8{
    display: grid;
    grid-template-columns: 50% 50%;
}
.big-logo{
    text-align: center;
    background-image: linear-gradient(140deg,rgba(239, 5, 13, 0.839),rgba(225, 0, 101, 0.719)), url("../img/pattern-1.png");
    border-radius: 8px;
    padding-bottom: 10rem;
}
.big-logo img{
    position: relative;
    top: 30%;
    left: 13%;
}
.in4{
    position: absolute;
}
.in4 h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: white;
    margin-top: -10rem;
    margin-left: 1.5rem;
}
.in4 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: white;
    margin-left: 6.3rem;
    margin-bottom: 2rem;
}
.in4 div{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: white;
    border: 3px solid #ffffff;
    border-radius: 5px;
    margin: 0rem 6.5rem;
    padding: 1rem 0rem;
    transition: 0.2s linear;
}
.in4 div:hover{
    color:#fa0421;
    border: 3px solid #e6e6e6;
    background-color: #ffffff;
    margin-top: -5px;
}

.nbl{
    background-image: linear-gradient(to bottom left,rgba(27, 26, 26, 0.55),rgba(27, 24, 25, 0.544)), url("../img/background1.jpg");
    background-size: cover;
    margin-top: 4rem;
}
.nbl1{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 7rem;
    padding-left: 5rem;
}
.nbl1 h2{
    padding: 0.5rem 0;
}
.title8 h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    color: white;
}
.nd h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #eee5e5;
    font-weight: 300px;
    cursor: pointer;
    transition: 0.2s linear;
}
.nd:hover h2{
    color:rgb(248, 21, 21);
}
.icon-mxh{
    padding-top: 0.5rem;
    justify-content: space-between;
}
.icon-mxh svg{
    transition: 0.3s linear;
}
.icon-mxh svg:hover{
    color:#eee5e5;
    margin: -0.5px 0;
}
.nbl2{
    margin-left: 5rem;
    margin-top: 4rem;
}
.nbl2 h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #eee5e5;
    font-weight: 300px;
}